{% extends "expenses/base.html" %}
{% block content %}

<div class="container ">
  <div class="row">

    <!-- Category -->
    <div class="form-group col-md-6 ">
      <form class="form-inline" action="{% url 'expenses:categories_add' %}" method="post">
        {% csrf_token %}
        <input type="text" class="form-control" id="text" placeholder="New Category" name="text">
        <button type="add" class="btn btn-primary">Add</button>
      </form>

      
      <div class="container ">
        <form action="{% url 'expenses:categories_action' %}" method="post">
          {% csrf_token %}
          <div class="form-row">
            <div class="actions">
              <label>Action: <select name="action" required="">
                  <option value="" selected="">---------</option>
                  <option value="delete">Delete selected</option>
                </select>
              </label>
              <button type="submit" class="button" title="Run the selected action" name="index" value="0">Go</button>
            </div>
          </div>
          
          <table class="table">
            <col width="40">
            <thead>
              <tr>
                <th><input type="checkbox" onClick="toggle_c(this, 'marked_checkbox')" /></th>
                <th scope="col">Categories</th>
              </tr>
            </thead>
            <tbody>
              {% for category in categories %}
              {% if category.text != '_UnTagged_' %}
              <tr>
                <td><input type="checkbox" value="{{ category.id }}" name="marked_checkbox"></td>
                <td>{{category}}</td>
              </tr>              
              {% endif %}

              {% endfor %}
            </tbody>
          </table>
          
        </form>
      </div>
    </div>
    
    <!-- Sub Category -->
    <div class="form-group col-md-6 ">

      <form class="form-inline" action="{% url 'expenses:sub_categories_add' %}" method="post">
        {% csrf_token %}
        <input type="text" class="form-control" id="text" placeholder="New Sub Category" name="text">
        <select id="category" class="form-control" name="category_id" required="">
          <option value="" selected="">---------</option>
          {% for c in categories %}
          <option value="{{c.id}}"> {{ c }}</option>
          {% endfor %}
        </select>
        
        <button type="submit" class="btn btn-primary">Add</button>
      </form>


      <div class="container ">
        <form action="{% url 'expenses:sub_categories_action' %}" method="post">
          {% csrf_token %}
          <div class="form-row">
            <div class="actions">
              <label>Action: <select name="action" required="">
                  <option value="" selected="">---------</option>
                  <option value="delete">Delete selected</option>
                </select>
              </label>
              <button type="submit" class="button" title="Run the selected action" name="index" value="0">Go</button>
            </div>
          </div>

      <table class="table">
         <col width="40">
        <thead>
          <tr>
            <th><input type="checkbox" onClick="toggle_c(this,'marked_checkbox_sub')" /></th>
            <th scope="col">Sub Category</th>
            <th scope="col">Category</th> 
          <tr>   
        </thead>
        <tbody>
          {% for sub_category in sub_categories %}
          {% if sub_category.text != '_UnTagged_' %}
          <tr>
            <td><input type="checkbox" value="{{ sub_category.id }}" name="marked_checkbox_sub"></td>
            <td>{{sub_category}}</td>
            <td>{{sub_category.category}}</td>
          </tr>
          {% endif %}

          {% endfor %}
        </tbody>
      </table>


          
        </form>
      </div>

      

    </div>
  </div>
</div>



<script language="JavaScript">
    function toggle_c(source, name) {
        checkboxes = document.getElementsByName(name);
        for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;                                            
        }
    }
</script>
      
{% endblock %}
