{% block navbar %}{% include 'expenses/navbar.html' %}{% endblock navbar%}

<div class="container">
  <form action="{% url 'expenses:filter_index' %}" method="post">
    {% csrf_token %}
    <div class="form-row">

      <div class="form-group col-md-6">
        <label for="date">Start Date</label>
        <input type="date" class="form-control" id="startDate" name="startDate" value="{{startDateValue}}">
      </div>

      <div class="form-group col-md-6">
        <label for="date">End Date</label>
        <input type="date" class="form-control" id="endDate" name="endDate" value="{{endDateValue}}">
      </div>


      <div class="form-group col-md-4">
        <label for="inputSource">Source</label>
        <select id="source" class="form-control" name="source">
          <option value="all">All</option>
          {% for source in inputSources %}

          <option value="{{source.id}}"> {{ source }}</option>

          {% endfor %}

        </select>
      </div>


      
    </div>
    <button type="submit" class="btn btn-primary">Filter</button>
  </form>
</div>

{% if transactions %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Merchant</th>
        <th scope="col">Amount</th>
        <th scope="col">Comment</th>
        <th scope="col">Subcategory</th>
        <th scope="col">Source</th>
      </tr>
    </thead>
    <tbody>

      {% for transaction in transactions %}    
      <tr>
        <td>{{ transaction.date }}</td>
        <td>{{ transaction.merchant }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.comment }}</td>
        <td>{{ transaction.sucategory }}</td>
        <td>{{ transaction.source }}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
  {% else %}
  <p>No transactions are available.</p>
  {% endif %}
  
</div>




<div class="container">
  <span class="current">
    Page {{ transactions.number }} of {{ transactions.paginator.num_pages }}.
  </span>
  <nav aria-label="...">
    <ul class="pagination">

      {% if transactions.has_previous %}

      <li class="page-item">
        <a class="page-link" href="?page=1&startDate={{startDate}}&endDate={{endDate}}&source={{source}}" tabindex="-1">First</a>
      </li>
      
      <li class="page-item">
        <a class="page-link" href="?page={{ transactions.previous_page_number }}&startDate={{startDate}}&endDate={{endDate}}&source={{source}}" tabindex="-1">Previous</a>
      </li>

      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">First</a>
      </li>

      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      
      {% endif %}
      
      {% if transactions.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ transactions.next_page_number }}&startDate={{startDate}}&endDate={{endDate}}&source={{source}}">Next</a>
      </li>

      <li class="page-item">
        <a class="page-link" href="?page={{ transactions.paginator.num_pages }}&startDate={{startDate}}&endDate={{endDate}}&source={{source}}">Last</a>
      </li>
      
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">Next</a>
      </li>

      <li class="page-item disabled">
        <a class="page-link" href="#">Last</a>
      </li>


      {% endif %}
      
    </ul>
  </nav>
  
</div>
