{% block navbar %}{% include 'expenses/navbar.html' %}{% endblock navbar%}

<form action="{% url 'expenses:filter_index' %}" method="post">
  {% csrf_token %}
  <div class="form-row">

    <div class="form-group col-md-6">
      <label for="date">Start Date</label>
      <input type="date" class="form-control" id="startDate" name="startDate">
    </div>

    <div class="form-group col-md-6">
      <label for="date">End Date</label>
      <input type="date" class="form-control" id="endDate" name="endDate">
    </div>
    
  </div>
  <button type="submit" class="btn btn-primary">Filter</button>
</form>


{% if transactions %}
<!-- TODO use this https://docs.djangoproject.com/en/2.0/topics/pagination/ -->
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Merchant</th>
        <th scope="col">Amount</th>
        <th scope="col">Comment</th>
        <th scope="col">Subcategory</th>
      </tr>
    </thead>
    <tbody>

      {% for transaction in transactions %}    
      <tr>
        <td>{{ transaction.date }}</td>
        <td>{{ transaction.merchant }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.comment }}</td>
        <td>{{ transaction.sucategory }}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
  {% else %}
  <p>No transactions are available.</p>
  {% endif %}
  
</div>


<div class="pagination">
    <span class="step-links">
        {% if transactions.has_previous %}
            <a href="?page=1&startDate={{startDate}}&endDate={{endDate}}">&laquo; first</a>
            <a href="?page={{ transactions.previous_page_number }}&startDate={{startDate}}&endDate={{endDate}}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ transactions.number }} of {{ transactions.paginator.num_pages }}.
        </span>

        {% if transactions.has_next %}
            <a href="?page={{ transactions.next_page_number }}&startDate={{startDate}}&endDate={{endDate}}">next</a>
            <a href="?page={{ transactions.paginator.num_pages }}&startDate={{startDate}}&endDate={{endDate}}">last &raquo;</a>
        {% endif %}
    </span>
</div>

