
{% extends "expenses/base.html" %}

{% block content %}
{% block navbar %}{% include 'expenses/navbar.html' %}{% endblock navbar%}


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" backdrop="false">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title">New rule</h4>
      </div>
      <div class="modal-body">
        <label for="date">Text Contains</label>
        <input type="text" class="form-control" id="add_rule_text" name="add_rule_text" value="">
        <br>
        <select id="add_rule_subcategory">
          <!-- <option id="-1" selected="">---------</option>           -->
          {% for sc in subcategories %}
          <option id="{{sc.id}}" value="{{sc.id}}">{{ sc }}</option>
          {% endfor %}
        </select>        
        <button type="button" class="btn btn-info btn-sm" onClick="add_rule(this)" >Save</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div class="container ">
  <form action="{% url 'expenses:filter_index' %}" method="post">
    {% csrf_token %}
    <div class="form-row">

      <div class="form-group col-md-3">
        <label for="date">Start Date</label>
        <input type="date" class="form-control" id="startDate" name="startDate" value="{{startDate}}">
      </div>

      <div class="form-group col-md-3">
        <label for="date">End Date</label>
        <input type="date" class="form-control" id="endDate" name="endDate" value="{{endDate}}">
      </div>


      <div class="form-group col-md-3">
        <label for="inputSource">Source</label>
        <select id="source" class="form-control" name="source">
          <option value="all">All</option>
          {% for s in inputSources %}
          {% if s.id == source %}
          <option  value="{{s.id}}" selected > {{s}}</option>
          {% else %}
          <option  value="{{s.id}}" > {{ s }}</option>

          {% endif %}

          {% endfor %}
        </select>
      </div>

      <div class="form-group col-md-3">
        <label for="category">Category</label>
        <select id="category" class="form-control" name="category">
          <option value="all">All</option>
          {% for c in categories %}
          {% if category == c.id%}
          <option  value="{{c.id}}" selected> {{ c }}</option>
          {% else %}
          <option  value="{{c.id}}"> {{ c }}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>

      
      <div class="form-group col-md-3">

        <label for="search">Contains Text</label>
        <div class="input-group mb-2">
          {% if search and search != 'None' %}          
          <input type="text" class="form-control" id="search" name="search" value="{{search}}">
          {% else %}
          <input type="text" class="form-control" id="search" name="search">
          {% endif %}
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Filter</button>
  </form>
</div>


<div class="container  ">
  
  <form action="{% url 'expenses:index_action' %}" method="post">
    {% csrf_token %}

    <input name="startDate" type="hidden" value="{{startDate}}" />
    <input name="endDate" type="hidden" value="{{endDate}}" />
    <input name="source" type="hidden" value="{{source}}" />
    <input name="search" type="hidden" value="{{search}}" />
    <input name="category" type="hidden" value="{{category}}" />
    <input name="subcategory" type="hidden" value="{{subcategory}}" />

    <div class="row">
      <div class="actions">
        <label>Action: <select name="action" required="">
            <option value="" selected="">---------</option>
            <option value="delete">Delete selected</option>
          </select>
        </label>
        <button type="submit" class="button" title="Run the selected action" name="index" value="0">Go</button>
      </div>
    </div>

    <div class="row  ">
      <table class="table">
        <thead>
          <tr>

            <th><input type="checkbox" onClick="toggle(this)" /></th>
            <th scope="col">Date</th>
            <th scope="col">Merchant</th>
            <th scope="col">Amount</th>
            <th scope="col">Comment</th>
            <th scope="col">Subcategory</th>
            <th scope="col">Source</th>
          </tr>
        </thead>
        <tbody>

          {% for transaction in transactions %}    
          <tr>
            <td><input type="checkbox" value="{{ transaction.id }}" name="marked_checkbox"></td>
            <td>{{ transaction.date }}</td>
            <td>
              <div class="col-sm">{{ transaction.merchant }}</div>
            </td>
            <td class="currency" >{{ transaction.amount }}</td>
            <td>{{ transaction.comment }}</td>
            
            <td>
              <div class="container ">
                <div class="row">
                  <div class="col-sm">
                    <select id="subcategory_select_{{transaction.id}}" onchange="show_save(this, {{transaction.id}})">
                      {% for sc in subcategories %}
                      {% if sc == transaction.subcategory%}
                      <option id="{{sc.id}}"  selected>{{ sc }}</option>
                      {% else %}
                      <option id="{{sc.id}}">{{ sc }}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-sm">
                    <button type="button" class="btn btn-primary btn-sm" id="save_button_{{transaction.id}}" hidden onClick="save_subcategory(this, {{transaction.id}},'{{transaction.merchant}}')" >Save</button>
                  </div>
                </div>
              </div>
            </td>
            
            <td><div>{{ transaction.source }}</div></td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </form>  
</div>

<div class="container">
  <span class="current">
    Page {{ transactions.number }} of {{ transactions.paginator.num_pages }}.
  </span>
  <nav aria-label="...">
    <ul class="pagination">

      {% if transactions.has_previous %}

      <li class="page-item">
        <a class="page-link" href="?page=1&startDate={{startDate}}&endDate={{endDate}}&source={{source}}&search={{search}}&category={{category}}&subcategory={{subcategory}}" tabindex="-1">First</a>
      </li>
      
      <li class="page-item">
        <a class="page-link" href="?page={{ transactions.previous_page_number }}&startDate={{startDate}}&endDate={{endDate}}&source={{source}}&search={{search}}&category={{category}}&subcategory={{subcategory}}" tabindex="-1">Previous</a>
      </li>

      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">First</a>
      </li>

      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      
      {% endif %}
      
      {% if transactions.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ transactions.next_page_number }}&startDate={{startDate}}&endDate={{endDate}}&source={{source}}&search={{search}}&category={{category}}&subcategory={{subcategory}}">Next</a>
      </li>

      <li class="page-item">
        <a class="page-link" href="?page={{ transactions.paginator.num_pages }}&startDate={{startDate}}&endDate={{endDate}}&source={{source}}&search={{search}}&category={{category}}&subcategory={{subcategory}}">Last</a>
      </li>
      
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">Next</a>
      </li>

      <li class="page-item disabled">
        <a class="page-link" href="#">Last</a>
      </li>


      {% endif %}
      
    </ul>
  </nav>
  
</div>

<script language="JavaScript">
    function toggle(source) {
        checkboxes = document.getElementsByName('marked_checkbox');
        for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;                                            
        }
    }
</script>

<script language="JavaScript">
    function show_save(source, id) {
        button_id = "save_button_"+id
        $("#" + button_id).prop("hidden",false);
    }

  function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }


  function save_subcategory(source, transaction_id, merchant) {


      var csrftoken = Cookies.get('csrftoken');
      var subcategory_id = $("#" + "subcategory_select_" + transaction_id).find(":selected").attr("id")
      $.ajax({
          type: "POST",
          url: '/expenses/save_post/',
          data: {
              'transaction_id': transaction_id,
              'subcategory_id': subcategory_id
          },
          beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          },
          dataType: 'json',
          success: function (data) {
             
          }
      });
      $("#add_rule_text").val(merchant)
      $("#add_rule_subcategory").val(subcategory_id)
      $("#myModal").modal();
      
      button_id = "save_button_"+transaction_id
      $("#" + button_id).prop("hidden",true);
  }


  function add_rule(source) {
      var csrftoken = Cookies.get('csrftoken');
      $.ajax({
          type: "POST",
          url: '/expenses/rules_add',
          data: {
              'value': $("#add_rule_text").val(),
              'subcategory_id': $("#add_rule_subcategory").find(":selected").attr("id"),
              'rule_type_id':3
          },
          beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          },
          dataType: 'json',
          success: function (data) {
             
          }
      });
      
      location.reload();
  }


</script>




{% endblock %}
