<nav class="navbar navbar-toggleable-md navbar-light bg-faded" >
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'expenses:index' %}">Transactions</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link {% if request.path == '/expenses/stats' %}active{% endif %}" href="{% url 'expenses:stats' %}">Stats</a>
            <a class="nav-item nav-link {% if request.path == '/expenses/add' %}active{% endif %}" href="{% url 'expenses:add' %}">Add</a>
            <a class="nav-item nav-link {% if request.path == '/expenses/categories' %}active{% endif %}" href="{% url 'expenses:categories' %}">Categories</a>
            <a class="nav-item nav-link {% if request.path == '/expenses/rules' %}active{% endif %}" href="{% url 'expenses:rules' %}">Rules</a>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user.get_username }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/accounts/logout">Logout</a>
                </div>
            </li>
        </div>
    </div>
</nav>


<title>balanceme</title>
